{% extends "layout.html" %}

{% block content %}
    {%include '_message_flash_helper.html'%}
    <h1>Content</h1>

    <h2>Add new content</h2>
    <a href="/content/add_browser_content" class="btn btn-success" role="button">Add browser content</a>
    <a href="/content/add_script_content" class="btn btn-success" role="button">Add script content</a>

    <h2>Current content</h2>
    <p>Content already added to the system can be found below.</p>


    <h3>Browser content</h3>
    <table>
    <tr>
        <th width="20%">Content name</th>
        <th width="20%">URL</th>
        <th width="30%">Currently running on</th>
        <th width="10%">Remove content</th>
    </tr>
    {% for content in browser_content %}
        <tr>
            <td>{{ content.content_name }}</td>
            <td><a href="{{ content.url }}">{{ content.url }}</a></td>
            <td>{% for client in content.clients %} {{ client.hostname }}, {% endfor %}</td>
            <td><a href="/content/remove/{{ content.content_id }}" class="btn btn-warning" role="button">Remove</a></td>
        </tr>
    {% endfor %}


    </table>

    <h3>Script content</h3>
    <table>
    <tr>
        <th width="20%">Content name</th>
        <th width="20%">View script</th>
        <th width="30%">Currently running on</th>
        <th width="10%">Remove content</th>
    </tr>
    {% for content in script_content %}
        <tr>
            <td>{{ content.content_name }}</td>
            <td><a href="/content/view_script/{{ content.content_id }}" class="btn btn-info" role="button">View script</a></td>
            <td>{% for client in content.clients %} {{ client.hostname }}, {% endfor %}</td>
            <td><a href="/content/remove/{{ content.content_id }}" class="btn btn-warning" role="button">Remove</a></td>
        </tr>
    {% endfor %}


    </table>

{% endblock %}