<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/css/pinet.css">
    <link rel="stylesheet" href="/static/css/bootstrap-toggle.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/pinet-screens.js"></script>
    <script src="/static/js/bootstrap-toggle.min.js"></script>
    <script defer src="/static/js/fontawesome-all.js"></script>
    <title>PiNet Screens</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PiNet Screens</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/clients">Clients</a></li>
                <li><a href="/content">Content</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user %}
                    <li><a href="/clients"> {{ current_user.username|capitalize }} </a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                {% else %}
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="pinet-main-body">
    {% from "_formhelpers.html" import render_field %}
    <div class="{{container_name or 'container'}}">
    {% block content %}

    {% endblock %}

    </div>
</div>
</body>
</html>