{% extends "layout.html" %}

{% block content %}

    <h1>Content</h1>


    {% with messages = get_flashed_messages(with_categories=true) %}
              <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <!-- <strong>Title</strong> --> {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}


    <h2>Add new content</h2>
    <a href="/content/add_browser_content" class="btn btn-success" role="button">Add browser content</a>
    <a href="/content/add_script_content" class="btn btn-success" role="button">Add script content</a>

    <h2>Current content</h2>
    <p>Content already added to the system can be found below.</p>


    <h4>Browser content</h4>
    <table>
    <tr>
        <th>Content name</th>
        <th>URL</th>
        <th>Currently running on</th>
        <th>Remove content</th>
    </tr>
    {% for content in browser_content %}
        <tr>
            <td>{{ content.content_name }}</td>
            <td>{{ content.url }}</td>
            <td></td>
            <td><a href="/content/edit/{{ content.content_id }}" class="btn btn-warning" role="button">Remove</a></td>
        </tr>
    {% endfor %}


    </table>

    <h4>Script content</h4>
    <table>
    <tr>
        <th>Content name</th>
        <th>View script</th>
        <th>Currently running on</th>
        <th>Remove content</th>
    </tr>
    {% for content in script_content %}
        <tr>
            <td>{{ content.content_name }}</td>
            <td><a href="/content/view_script/{{ content.content_id }}" class="btn btn-info" role="button">Remove</a></td>
            <td></td>
            <td><a href="/content/edit/{{ content.content_id }}" class="btn btn-warning" role="button">Remove</a></td>
        </tr>
    {% endfor %}


    </table>

{% endblock %}