[Unit]
Description=Gunicorn instance to serve PiNet Screens
After=network.target

[Service]
User=pinetscreens
Group=pinetscreens
WorkingDirectory=/opt/PiNet-Screens/pinet_screens
ExecStart=/usr/bin/authbind /usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:80  main:app

[Install]
WantedBy=multi-user.target